package pages

import (
	"github.com/will-x86/anisim/internal/analyzer"
	"github.com/will-x86/anisim/internal/types"
	"github.com/will-x86/anisim/templates/components"
	"github.com/will-x86/anisim/templates/layouts"
)

templ ComparisonDetail(c types.Comparison, analyzer analyzer.ComparisonResult) {
	@layouts.Base("Comparison") {
		<div>
			<div class="flex justify-between items-center mb-4">
				<a href="/" class="text-blue-600 hover:text-blue-800">← Back</a>
			</div>
			@components.ComparisonView(c, analyzer)
		</div>
	}
}
